
.resume-header {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 25%;

    background-color:rgb(240, 240, 240)
}

.profile-picture {


    max-height: 85%;
    aspect-ratio: 1;

    margin: 16px;

    border-radius: 100%;
}

.header-text {
    width: 100%;
    height: calc(100% - 104px);

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    flex-direction: column;

    margin: 24px;
}

.name {
    font-size: 15.5mm;
    font-weight: 450;
}

.sub-name {
    font-size: 8mm;
}

.contact-information {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: row;

    font-size: 4.75mm;
}

.contact-information span {
    margin-right: 16px;
}


/* Colored lines */
.line {
    position: absolute;
    top: 0px;

    width: 0px;
}

.blue-line {
    right: 18px;

    height: 64px;
    border: 3px solid rgb(102, 198, 223, 0.92);
}

.orange-line {
    right: 12px;

    height: 92px;
    border: 3px solid rgb(224, 168, 93, 0.92);
}

.red-line {
    right: 6px;

    height: 108px;
    border: 3px solid rgba(214, 92, 84, 0.92);
}

.green-line {
    right: 0px;

    height: 116px;
    border: 3px solid rgb(105, 219, 111, 0.92);
}