.resume {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 25px;
  
  background-color: rgb(250, 250, 250);

  font-family: 'Helvetica', 'Arial';
}

.full-page {
  width: 215.9mm;
  height: 279.4mm;

  background-color: white;
}

.content {
  display: flex;

  width: 100%;
  height: calc(75% - 40px);
}

.main-content {
  --main-content-margin: 36px;

  max-width: calc(65% - var(--main-content-margin));
  min-width: calc(65% - var(--main-content-margin));
  height: calc(100% - var(--main-content-margin) * 2);

  margin: var(--main-content-margin);
  margin-right: 0px;
}

.secondary-content {
  --secondary-content-margin: 36px;

  max-width: calc(35% - var(--secondary-content-margin) * 2);
  min-width: calc(35% - var(--secondary-content-margin) * 2);
  height: calc(100% - var(--secondary-content-margin) * 2);

  margin: var(--secondary-content-margin);
}


.resume-footer {
  width: 100%;
  height: 40px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.resume-footer i {
  margin-right: 48px;
}