
.section-item {
    margin-bottom: 16px;
}

.titles {
    margin-bottom: 4px;
}

.title1 {
    font-size: 5.25mm;
}

.title2 {
    font-size: 5mm;
}

.title3 {
    font-size: 5mm;
}

.subtitle {
    font-size: 4mm;

    color: rgb(85, 85, 85);
}

.description {
    text-align: justify;

    margin-top: 8px;
    font-size: 4.5mm;

    color: rgb(50, 50, 50);
}